{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid">
    {% if posts %}
        {% for post in posts %}
        <div class="accordion" id="accordionBlog">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ post.id }}" aria-expanded="true" aria-controls="collapse_{{ post.id }}">
                  {{ post.title }}
              </button>
            </h2>
            <div id="collapse_{{ post.id }}" class="accordion-collapse collapse show" aria-labelledby="heading_{{ post.id }}" data-bs-parent="#accordionBlog">
              <div class="accordion-body">
                  {{ post.body }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    {% else %}
        <div><strong>No posts exist</strong></div>
    {% endif %}
    </div>
{% endblock %}

{% block title %}
  Blog
{% endblock %}

